#define IDM_MYMENU 100
#define IDM_FILE_NEW 1001
#define IDM_FILE_OPEN 1002
#define IDM_FILE_SAVE 1003
#define IDM_FILE_EXIT 1004
#define IDM_HELP_ABOUT 1005
#define IDM_MYMENU2 3000
#define IDM_TEST_1 2001
#define IDM_TEST_2 2002
#define IDM_TEST_3 2003
#define IDM_TEST_4 2004

IDM_ICON ICON "ID_1.ico"



IDM_MYMENU MENU DISCARDABLE 
BEGIN
    POPUP "文件(&F)"
    BEGIN
        MENUITEM "新建(&N)", IDM_FILE_NEW
        MENUITEM "打开(&O)...", IDM_FILE_OPEN
        MENUITEM "保存(&S)", IDM_FILE_SAVE
		MENUITEM SEPARATOR
        MENUITEM "退出(&X)", IDM_FILE_EXIT
    END
    POPUP   "帮助(&H)"
    BEGIN
        MENUITEM "关于(&A)…",IDM_HELP_ABOUT
    END
END

IDM_MYMENU2 MENU
BEGIN
	MENUITEM "test1",IDM_TEST_1
	MENUITEM "test2",IDM_TEST_2
	MENUITEM "test3",IDM_TEST_3
	MENUITEM "test4",IDM_TEST_4
END